{{> header}}

    {{> navbar}}

    <div class="row">
        <div class="col-md-8">
            <h1>Hola papus</h1>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ex, ipsam distinctio corrupti repudiandae, 
                obcaecati sapiente incidunt quibusdam minima quae, a architecto quo fugiat voluptas animi soluta consequuntur dolorem fugit!
            </p>
        </div>

        <div class="col-md-4">
            <img src="assets/img/nodejs.png" class="img-thumbnail">
        </div>
    </div>

{{> footer}}